MONGODB_URI=mongodb://mokomcollinsawah_db_user:6DWOzbonHNU2ui4E@ac-f2j760j-shard-00-00.uvxlhq1.mongodb.net:27017,ac-f2j760j-shard-00-01.uvxlhq1.mongodb.net:27017,ac-f2j760j-shard-00-02.uvxlhq1.mongodb.net:27017/antenatal-care-management-system?ssl=true&authSource=admin&replicaSet=atlas-zg2xb7-shard-0&retryWrites=true&w=majority&appName=Cluster0
AUTH_SECRET=replace-with-secure-secret
NEXTAUTH_SECRET=replace-with-secure-secret
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
APP_NAME="Antenatal Care Management System"
